/* Header Styling */
.Header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 25px;
  }

  .Title {
      border-bottom: black solid 2px;
  }

  .Header nav {
      padding-top: 10px;
  }

  .Header nav a {
    background-color: skyblue;
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin: 0 8px;
    padding: 0 2px;
    border: black solid 2px;
    text-decoration: none;
  }
  
  .Header nav a:hover {
    color: gray;
  }

  /* Home Styling */

  .Home {
      padding: 5px;
  }

  .Home h2 {
      margin-left: 20px;
  }

  .Box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }

  .FootballInfo {
    border: 2px solid black;
    flex-basis: 90%;
    margin-left: 20px;
    padding: 40px;
    text-align: left;
    font-size: 20px;
  }

  .FootballInfo span {
    color: gray;
  }

  .CovidInfo {
    border: 2px solid black;
    border-left: 0;
    flex-basis: 10%;
    margin-right: 20px;
    padding: 40px;
    text-align: left;
  }

.App {
}

.Data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}